:root {
    --primary-bg: #6a6868;
    --navbar-bg: #000000;
    --text-color: white;
    --card-bg: white;
    --border-color: #16423C;
    --table-bg: #343232;
    --td-bg: #475b57;
    --hover-bg: #666;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-top: 60px;
    background-color: var(--primary-bg);
}

header nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--navbar-bg);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    border-radius: 20px;
    background-color: var(--primary-bg);
}

.halaman {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 60px;
    opacity: 0;
    visibility: hidden;
}

.halaman:target {
    opacity: 1;
    visibility: visible;
}

.halaman:first-child {
    opacity: 1;
    visibility: visible;
}

.card {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    margin: auto;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.nama {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary-bg);
}

.profil-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    border: 3px solid var(--border-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container1 h2 {
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    padding-top: 10px;
}

table,
th,
td {
    border: 3px solid #000;
    padding: 10px;
    color: white;
    background-color: var(--table-bg);
}

td {
    background-color: var(--td-bg);
}

.card .sosial {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.card .sosial i {
    font-size: 29px;
}

.card .sosial a {
    color: #385248;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s;
}

.card .sosial a:hover {
    color: var(--hover-bg);
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .card {
        width: 90%;
    }

    .profil-image {
        width: 120px;
        height: 120px;
    }
}